/.SCChartCheck.java._trace
/.SCChartContainmentCheck.java._trace
/.SCChartIncomingCheck.java._trace
/.SCChartOutgoingCheck.java._trace
/.SCChartCheck.xtendbin
/.SCChartContainmentCheck.xtendbin
/.SCChartIncomingCheck.xtendbin
/.SCChartOutgoingCheck.xtendbin
/SCChartCheck.java
/SCChartContainmentCheck.java
/SCChartIncomingCheck.java
/SCChartOutgoingCheck.java
